.paths-wrapper {
  padding: 60px;
  background: rgb(39, 39, 39);
  background: linear-gradient(
    180deg,
    rgba(39, 39, 39, 1) 0%,
    rgba(70, 70, 70, 1) 100%
  );
}

#paths {
  overflow: hidden;
  padding: 50px 0;

  .timeline {
    max-width: 500px;
    margin: 0 auto;

    article {
      position: relative;
      border-top: 10px solid white;
      border-bottom: 10px solid transparent;
      color: white;
      margin-top: -10px;

      /*
      Title
      */
      h5 {
        position: absolute;
        top: -50px;
        left: -50px;
        font-size: 34px;
        font-family: "Roboto Mono";
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        translate: -90%;

        span {
          display: block;
          font-size: 80px;
        }
      }

      /*
      Icon
      */
      .path-icon-box {
        border-radius: 50%;
        position: absolute;
        top: -40px;
        left: -40px;
        padding: 15px;
        display: flex;
        cursor: pointer;
        transition: box-shadow linear 0.1s;

        img {
          width: 46px;
          height: 46px;
        }
      }

      /*
      Content
      */
      .path-text-wrapper {
        padding: 72px 72px 90px;

        .path-text-box {
          //   display: none;
          max-height: 0;
          overflow: hidden;
          transition: all 0.5s;
          opacity: 0;
          visibility: hidden;

          &.open {
            display: block;
            max-height: 380px;
            opacity: 1;
            visibility: visible;
          }

          h4 {
            font-size: 34px;
            font-family: "Roboto Mono";
            font-weight: 700;
            margin-bottom: 30px;
          }
          p {
            font-size: 16px;
            line-height: 1.5;
            text-align: justify;
          }
        }
      }

      /*
       ODD AND EVEN DIFFERENCES
      */

      &:nth-child(odd) {
        margin-right: -30px;
        border-right: 10px solid white;
        border-radius: 0 60px 60px 0;
      }

      &:nth-child(even) {
        margin-left: -30px;
        border-left: 10px solid white;
        border-radius: 60px 0 0 60px;

        h5 {
          right: -50px;
          left: auto;
          align-items: flex-start;
          translate: 100%;
        }

        .path-icon-box {
          right: -40px;
          left: auto;
        }
      }

      /*
      DIFFERECENS BY COLOR
      */

      &:nth-child(3n + 1) {
        h5,
        h4 {
          color: $light-turquoise;
        }
        .path-icon-box {
          background-color: $light-turquoise;

          &:hover {
            -webkit-box-shadow: 0px 0px 0px 20px rgba(68, 224, 220, 0.53);
            box-shadow: 0px 0px 0px 20px rgba(68, 224, 220, 0.53);
          }
        }
      }
      &:nth-child(3n + 2) {
        h5,
        h4 {
          color: $light-yellow;
        }
        .path-icon-box {
          background-color: $light-yellow;

          &:hover {
            -webkit-box-shadow: 0px 0px 0px 20px rgba(255, 237, 101, 0.53);
            box-shadow: 0px 0px 0px 20px rgba(255, 237, 101, 0.53);
          }
        }
      }
      &:nth-child(3n + 3) {
        h5,
        h4 {
          color: $light-pink;
        }
        .path-icon-box {
          background-color: $light-pink;

          &:hover {
            -webkit-box-shadow: 0px 0px 0px 20px rgba(240, 124, 121, 0.53);
            box-shadow: 0px 0px 0px 20px rgba(240, 124, 121, 0.53);
          }
        }
      }

      /*
      TAIL OF PATH
      */
      &:last-child {
        &::after {
          content: " ";
          width: 50%;
          height: 50%;
          position: absolute;
          left: -10px;
          bottom: -10px;
          border-bottom: 10px solid white;
          border-left: 10px solid white;
          border-radius: 0 0 0 60px;
        }

        &::before {
          content: " ";
          position: absolute;
          width: 36px;
          height: 36px;
          bottom: -23px;
          left: calc(50% - 18px);
          background-color: #d8d8d8;
          border-radius: 50%;
          z-index: 1;
        }
      }
    }
  }
}

/*
RESPONSIVE
*/

/*
Laptop
*/
@media screen and (max-width: 1300px) {
  .paths-wrapper {
    padding: 30px;
  }

  #paths {
    overflow: hidden;

    .timeline {
      max-width: calc(100% - 600px);
      margin: 0 auto;

      article {
        h5 {
          font-size: 3vw;
          left: -70px;
          span {
            font-size: 5vw;
          }
        }

        .path-text-wrapper {
          padding: 70px;
        }
      }
    }
  }
}

/*
Laptop
*/
@media screen and (max-width: 1000px) {
  .paths-wrapper {
    padding: 40px;
  }

  #paths {
    overflow: hidden;

    .timeline {
      max-width: calc(100% - 400px);
      margin: 0 auto;

      article {
        h5 {
          font-size: 2vw;
          left: -70px;
          span {
            font-size: 4vw;
          }
        }

        .path-text-wrapper {
          padding: 50px;

          .path-text-box {
            h4 {
              font-size: 4vw;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

/*
Tablet
*/
@media screen and (max-width: 768px) {
  #paths {
    overflow: hidden;

    .timeline {
      max-width: calc(100% - 215px);

      article {
        h5 {
          font-size: 2vw;
          left: -36px;
          top: -37px;
          span {
            font-size: 4vw;
          }
        }

        .path-icon-box {
          top: -34px;
          left: -18px;
          img {
            width: 30px;
            height: 30px;
          }
        }

        &:nth-child(even) {
          .path-icon-box {
            right: -30px;
          }
          h5 {
            right: -40px;
          }
        }

        .path-text-wrapper {
          padding: 30px 20px;
        }
      }
    }
  }
}

/*
Smartphone
*/
@media screen and (max-width: 500px) {
  .paths-wrapper {
    padding: 40px 10px;
  }
  #paths {
    overflow: hidden;

    .timeline {
      max-width: calc(100% - 70px);

      article {
        h5 {
          display: none;
        }

        .path-icon-box {
          top: -34px;
          left: -18px;
          animation: pulse 1.3s infinite;

          &.open {
            animation: none;
          }

          &:hover {
            box-shadow: none !important;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }

        &:nth-child(even) {
          .path-icon-box {
            right: -30px;
          }
          h5 {
            right: -40px;
          }
        }

        .path-text-wrapper {
          padding: 40px;

          .path-text-box {
            h4 {
              font-size: 6vw;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

/*
Pulse animation for mobile icons
*/

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse2 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
